# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDE / editor
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Render files (optional)

desktop.ini
SCREENSHOTS/desktop.ini